<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console.coffee</title>
    <link rel="stylesheet" href="/css/produtos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <script src="/js/salvarModificacaoProduto.js"></script>
</head>

<body>

    <header>
        <div class="b-container">
            <div class="logo">
                <img src="/imagens/logo-header.png" alt="" />
            </div>
    </header>

    <main>


        <div class="consultar-produto"></div>
        <h2>Listar Produtos</h2>
        </div>

        <form id="formulário" action=/ConsultarProduto method="get">
            <div class="input-produto">
                <input type="text" style="width: 190px;" class="form-control" placeholder="Informe o nome do produto..."
                    aria-describedby="addon-wrapping" id="nomeProduto" name="nomeProduto">
                <div class="botao-consultar">
                    <button type="submit" class="botoesItem">Consultar</button>

                    <div th:text="${erro}" class="alert alert-info" role="alert"></div>

                </div>

        </form>

        <div class="content">
            <table border="1">
                <thead>
                    <th class="cabecalhos-colunas">ID</th>
                    <th class="cabecalhos-colunas">Nome</th>
                    <th class="cabecalhos-colunas">Valor</th>
                    <th class="cabecalhos-colunas">Quantidade disponível</th>
                    <th class="cabecalhos-colunas">Status</th>
                    <th class="cabecalhos-colunas">Visualizar</th>
                    <th class="cabecalhos-colunas">Detalhes do Produto</th>
                    <th class="cabecalhos-colunas">Imagem Produto</th>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td><span th:text="${produto?.id}" id="id" name="id"></span></td>
                        <td><input th:value="${produto.nomeProduto}"> </span></td>
                        <td><input th:value="${produto.precoProduto}"> </span></td>
                        <td><input th:value="${produto?.qntdEstoque}" id="qntdEstoque" name="qntdEstoque"></td>
                        <td><input type="checkbox" th:checked="${produto.statusAtivo}" />
                        </td>
                        <td hidden><span  th:value="${produto.getImagem}" id="imagem" name="getImagem"></span></td>

                        <td id="botao-salvar-modificacoes"><button
                                onclick="event.preventDefault(); salvarProduto(this)">Salvar modificações</button></td>

                        <td id="botao-ver-detalhes"><button type="submit">
                                <a href="/fellas.coffe/detalhesProduto" class="btn btn-primary btn-card">Detalhes</a>
                        </td>
                        <td>
                            <img src="/product/1" alt="Imagem 1">


                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </main>
    <div id="container-botoes-produto-cancelar">
        <div class="adicionar-produto"><a href="/CadastroProduto"><button class="botoesItem">+ Produto</button></a>
        </div>
        <div class="adicionar-produto"><a href="/api/usuario/admin/home"><button
                    class="botoesItem">Cancelar</button></a></div>
    </div>
</body>

</html>