<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alterar Cadastro</title>
</head>
<body>
    <h1>Alterar Cadastro</h1>
    
    <form th:action="@{/fellas.coffe/alterarCadastro}" method="post">
        <input type="hidden" th:field="${session.usuarioLogado.id}" />
        
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" "${session.usuarioLogado.nome}" class="usuarioLogado"
                id="username" name="username"> </td>
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="${usuarioLogado.email}" />
        </div>
        
     
        
        <!-- Outros campos que desejam ser alterados -->
        
        <div>
            <button type="submit">Salvar Alterações</button>
        </div>
    </form>
</body>
</html>
