<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonte Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="Stylesheet" href="/src/main/resources/static/css/menuDespensa.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2b5b3d715c.js" crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <title>Tela - Menu Despensa</title>
</head>

<body class="body">
    <header>
        <nav class="navbar navbar-light bg-light p-0">
            
            <div id="containerItem" class="container-fluid">
                <div>
                    <img id="profile" src="/src/main/resources/static/imagens/profile.png" alt="Imagem de perfil">
                    <span id="span" class="navbar-brand mb-0 h1">Gabriel Costa</span>
                </div>
                <nav id="navBuscarItem" class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input id="inputBuscarItem" class="form-control me-2" type="search" placeholder="Buscar..."
                                aria-label="Search">
                            <button id="botaoBuscarItem" class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </nav>
                <a href="https://www.google.com.br"><img id="logo" src="/src/main/resources/static/imagens/logo.png"
                        alt="Logo da Smart Pantry"></a>
            </div>
        </nav>
    </header>

    <div>
        <button id="botaoMenuLateral" style="margin: 40px 0 0 25px;" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            << Abrir menu lateral</button>

                <div class="offcanvas offcanvas-start MenuLateral" data-bs-scroll="true" tabindex="-1"
                    id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title textoMenuLateral" id="offcanvasWithBothOptionsLabel">Perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bodyMenuLateral">
                        <a href="https://www.google.com.br">
                            <p class="paragrafo">Alterar dados</p>
                        </a>
                        <a href="https://www.google.com.br">
                            <p class="paragrafo">Sair</p>
                        </a>
                    </div>
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title textoMenuLateral" id="offcanvasWithBothOptionsLabel">Despensa</h5>
                    </div>
                    <div class="offcanvas-body">
                        <a href="https://www.google.com.br">
                            <p class="paragrafo">Visualizar Despensa</p>
                        </a>
                          
                    </div>
                </div>
                <p class="d-flex justify-content-center"
                    style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">Painel da Despensa</p>
                <div class="d-flex justify-content-center">
                    <div class="border border-5 border-dark p-2 mb-2"
                        style="height: 250px; width: 500px; margin-right: 10px;">
                        <p class="textoCaixas">Gastos</p>
                        <p class="d-flex justify-content-center" style="font-weight: bold;">Mensal: <input
                                class="form-control w-75" type="text" placeholder="Valor Mensal $"
                                aria-label="Disabled input example" disabled></p>
                        <p class="d-flex justify-content-center" style="font-weight: bold ;">Anual: <input
                                class="form-control w-75" type="text" placeholder="Valor Anual $"
                                aria-label="Disabled input example" disabled></p>
                    </div>
                    <div class="border border-5 border-dark p-2 mb-2" style="height: 250px; width: 500px;">
                        <p class="textoCaixas">Próximos ao Vencimento</p>
                        <div class="d-flex justify-content-between">
                            <p style="font-weight: bold">Iten(s)</p>
                            <p style="font-weight: bold;">Data Vencimento</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <input class="form-control" style="width: 200px; margin-bottom: 10px;" type="text"
                                placeholder="Item 1" aria-label="Disabled input example" disabled>

                            <input class="form-control" style="width: 200px; margin-bottom: 10px;" type="text"
                                placeholder="25/10/2022" aria-label="Disabled input example" disabled>
                        </div>
                        <div class="d-flex justify-content-between">
                            <input class="form-control " style="width: 200px; margin-bottom: 10px;" type="text"
                                placeholder="Item 3" aria-label="Disabled input example" disabled>

                            <input class="form-control" style="width: 200px; margin-bottom: 10px;" type="text"
                                placeholder="20/12/2022" aria-label="Disabled input example" disabled>
                        </div>
                        <div class="d-flex justify-content-between">
                            <input class="form-control" style="width: 200px;" type="text" placeholder="Item 2"
                                aria-label="Disabled input example" disabled>

                            <input class="form-control" style="width: 200px" type="text" placeholder="22/12/2022"
                                aria-label="Disabled input example" disabled>
                        </div>
                    </div>
                </div>
    </div>
    <div class="d-flex justify-content-end" style="margin: 20px 180px 50px ;">
       <!---- <button class="botoesItem">
           <a href="#" th:onclick="'{ window.location.href = \'' + @{/CadastroItem/{id}(id=${clientes.id})} + '/excluir\' } '" >Incluir Item</a>
        </button>-->

        <a href="/Despensa"> <button class="botoesItem">Ver despensa</a></button>
     
    </div>

    <footer class="footer">
        <div class="d-flex justify-content-evenly">
            <a href="https://www.google.com.br">
                <p class="paragrafo">Entre em contato</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">A Smart Pantry</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">Redes Sociais</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">Dúvidas</p>
            </a>
        </div>
    </footer>
    </footer>
</body>

</html>