<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonte Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="Stylesheet" href="/css/despensa.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2b5b3d715c.js" crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <title>Tela Despensa</title>
</head>


<body class="body">
    <header>
        <nav class="navbar navbar-light bg-light p-0">
            <div id="containerItem" class="container-fluid">
                <div>
                    <img id="profile" src="/imagens/profile.png" alt="Imagem de perfil">
                    <span id="span" class="navbar-brand mb-0 h1" > Gabriel Costa</span>
                </div>
                <nav id="navBuscarItem" class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input id="inputBuscarItem" class="form-control me-2" type="search" placeholder="Buscar..."
                                aria-label="Search">
                            <button id="botaoBuscarItem" class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </nav>
                <a href="https://www.google.com.br"><img id="logo" src="/imagens/logo.png"
                        alt="Logo da Smart Pantry"></a>
            </div>
        </nav>
    </header>
    <div>
        <button id="botaoMenuLateral" style="margin: 40px 0 0 25px ;" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            << Abrir menu lateral</button>

                <div class="offcanvas offcanvas-start MenuLateral" data-bs-scroll="true" tabindex="-1"
                    id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title textoMenuLateral" id="offcanvasWithBothOptionsLabel">Perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bodyMenuLateral">

                        <a href="/ConsultarUsuario">
                            <p class="paragrafo">Consultar usuário</p>
                        </a>
                        <a href="/">
                            <p class="paragrafo">Sair</p>
                        </a>
                    </div>
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title textoMenuLateral" id="offcanvasWithBothOptionsLabel">Despensa</h5>
                    </div>
                    <div class="offcanvas-body">
                        <a href="/logado">
                            <p class="paragrafo">Visualizar Menu</p>
                        </a>
                    </div>
                </div>
    </div>
    <div class="m-5">
        <p id="tituloMenu">Menu Despensa</p>
        <table class="table table-bordered border-primary text-center">
            <thead>
                <tr>
                    <th scope="col">Registro</th>
                    <th scope="col">Selecionar</th>
                    <th scope="col">Item</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Data Vencimento </th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Avaliação</th>
                    <th scope="col">Data Inclusão</th>
                    <th scope="col">Excluir item</th>
                    <th scope="col">Editar item</th>

                </tr>
            <tbody>
               
                    <tr th:each=" item : ${item}">
                        <td th:text="${item.id}"></td>
                        <td><input class="form-check-input mt-2" type="checkbox" value="${item.id}"
                                aria-label="Checkbox for following text input"></td>
                        <td th:text="${item.nome}">Arroz</td>
                        <td th:text="${item.tipo}">Mercearia</td>
                        <td th:text="${item.vencimento}"></td>
                        <td th:text="${item.unidade}">KG</td>
                        <td th:text="${item.valor}"></td>
                        <td th:text="${item.quantidade}">Rua Andrea Solário</td>
                        <td th:text="${item.observacao}"></td>
                        <td th:text="${item.datainclusao}"></td>
                        <td><button class = "botoesItem"><a href="#" th:onclick="'if(confirm(\'Excluir item ?\')) { window.location.href = \'' 
                            + @{/Despensa/{id}(id=${item.id})} + '/excluir\' } '" >Excluir Item</button></td>
                        <td><button class = "botoesItem"><a th:href="@{'/Alterar/' + ${item.id}}" class="botoesItem">Editar Item</button></td>
                        
                            
                            
           
                    </tr>
            </tbody>
        </thead>
        </table>
    </div>
    <footer class="footer">
        <div class="container-footer d-flex justify-content-evenly ">
            <a href="https://www.google.com.br">
                <p class="paragrafo">Entre em contato</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">A Smart Pantry</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">Redes Sociais</p>
            </a>
            <a href="https://www.google.com.br">
                <p class="paragrafo">Dúvidas</p>
            </a>
        </div>
    </footer>

</body>



</html>