<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Página CSS -->
	<link rel="stylesheet" href="/css/listarUsuarios.css" />
	<link rel="stylesheet" href="/css/login.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">


	<!-- Script JS -->
	<script src="/js/salvarModificacaoUsuario.js"></script>


	<title>Console.Coffee - Listar Usuários</title>

</head>

<body>
	<header>
		<div class="b-container">
			<div class="logo">
				<img src="/imagens/logo-header.png" alt="" />
			</div>
	</header>
	<main>
		<div class="title">
			<h2>Lista de usuários</h2>
		</div>

		<form id="formulário" th:action=@{/api/usuario/ConsultarUsuario} class="col-md-8 col-xl-9" method="get">
			<input type="text" class="form-control" placeholder="Informe um nome..." aria-describedby="addon-wrapping"
				id="username" name="nome">
			<div>
				<button type="submit" class="botoesItem">Consultar</button>


				<div th:text="${erro}" class="alert alert-info" role="alert"></div>

			</div>


		</form>

		<div class="container">
			<div class="row">
				<form>

					<div class="col">

						<table class="table-striped" id="table">
							<thead>
								<tr>
									<th class="cabecalhos-colunas">Nome</th>
									<th class="cabecalhos-colunas">Email</th>
									<th class="cabecalhos-colunas">Status</th>
									<th class="cabecalhos-colunas">Grupo</th>
									<th class="cabecalhos-colunas">CPF</th>
									<th class="cabecalhos-colunas">Senha</th>
									<th class="cabecalhos-colunas">Ações</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr th:if="${usuarios.empty}">
									<td colspan="2">Sem usuários</td>
								</tr> -->
								<tr th:each="usuario : ${usuarios}">

									<td aria-disabled="true"><input th:value="${usuario?.username}" class="usuario"
											id="username" name="username"> </td>

									<td><span th:text="${usuario?.email}" class="usuario" id="email"
											name="email"></span>
									</td>

									<td><input type="checkbox" th:checked="${usuario?.statusAtivo} " class="usuario"
											id="statusAtivo" name="statusAtivo" />
									</td>

									<td><span th:text="${usuario?.grupo}" class="usuario" id="grupo"
											name="grupo"></span></td>

									<td><input th:value="${usuario?.cpf}" class="usuario" id="cpf" name="cpf"></td>
									<td><input type="password" th:value="${usuario?.password}" class="usuario"
											id="password" name="password"> </td>
									<td hidden><input th:value="${usuario.userId}" class="usuario" id="userId"
											name="userId"> </td>


									<!-- <td><button type="submit">
										<a th:href="@{'/api/usuario/alterarStatus/' + ${usuario.userId}}">Habilitar/Desabilitar
											Usuário</button></td> -->
									<td><button onclick="event.preventDefault(); salvarUsuario(this)">Salvar
											modificações</button></td>
								</tr>

							</tbody>
						</table>
					</div>
				</form>
				<a href="/CadastroCliente"><button type="" class="botoesItem">Cadastro</button></a>
				<a href="/ListarProdutos"><button>Listar Produtos</button></a>
			</div>
		</div>



	</main>


</body>

</html>