<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="/css/listarUsuarios.css" />

</head>

<body>
	<header>
		<h1>Console.coffee</h1>
	</header>
	<main>
		<div class="title">
			<h2>Lista de usuários</h2>
		</div>

		<form id="formulário" th:action=@{/api/usuario/ConsultarUsuario} class="col-md-8 col-xl-9" method="get">
			<input type="text" class="form-control" placeholder="Informe um nome..." aria-describedby="addon-wrapping"
				id="username" name="nome">
			<div>
				<!-- <button type="submit" class = "botoesItem"><a th:href="@{'/admin/listarConsultado/' + ${usuarios.id}}" class="botoesItem">Consultar</button>-->
				<button type="submit" class="botoesItem">Consultar</button>
				<div th:text="${erro}" class="alert alert-info" role="alert"></div>

			</div>

		</form>

		<div class="container">
			<div class="row">
				<form th:action=@{/logar} method="get">
					<div class="col">

						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Email</th>
									<th>Status</th>
									<th>Grupo</th>


								</tr>
							</thead>
							<tbody>
								<tr th:if="${usuarios.empty}">
									<td colspan="2">Sem usuários</td>
								</tr>
								<tr th:each="usuario : ${usuarios}">
									<td><span th:text="${usuario.username}"> Nome </span></td>
									<td><span th:text="${usuario.email}"> Email </span></td>
									<td><input 
										type="checkbox" 
										name="myBooleanVariable" 
										th:checked="${usuario.statusAtivo}"/>
										</td>

									<td><span th:text="${usuario.grupo}"> Grupo </span></td>



								</tr>
								<button onclick="produto.desabilitar()">Pagina Produtos</button>

							</tbody>
						</table>
					</div>

			</div>
		</div>


</body>

</html>