.tamanho-card {
    width: 250px;
    display: inline-block;
}

.container-header {
    height: 200px;
}

.container-card {
    margin: 0 auto;
    width: 100%;
}

.titulo-card {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.preco-card {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    margin-left: 50px;
}

.btn-card {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 50px;
}


/* 
@media (min-width: 480px) {

    body {
        background-color: red;
    }
}

@media (min-width: 768px) {

    body {
        background-color: blue;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: orange;
    }
} */